<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="son.Properties.Settings.PERSONELVERİTABANIConnectionString"
            connectionString="Data Source=DESKTOP-PGJE2B7\SQLEXPRESS;Initial Catalog=PERSONELVERİTABANI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>